.legend { 
    /* display: flex; 
    flex-direction: column;
    align-items: center; */
    /* display: -webkit-box;  */
    padding-top: 7px;
    /* border: 5px solid red; */
    width: 150px;
    height: 120px;
    background: #fff;
    margin: 10px;
    border: 2px solid #fff;
    box-shadow:  0px 2px 6px rgba(0,0,0,.3);
    border-radius: 3px;
    font-family: 'Roboto,Arial,sans-serif';
    /* border: 2px solid #fff; */


}

.legendRow {
    display : flex;
    align-items : center;
    margin-bottom: 5px;
    justify-content: left;
    margin-left: 5px;
}

.legendBox {
  height: 20px;
  width: 20px;
  border: 1px solid black;
  margin-right : 5px;
}

.legendItemYellow {
    background-color: #f8f8ab;
  }

.legendItemRed {
  background-color: #f2a39f;
}

.legendItemGreen {
  background-color: #abd2ab;
}

.legendItemBlue {
  background-color: #ababf8;
}

.color-key {
    background: linear-gradient(to right,
    hsl(5, 69%, 54%) 0%,
    hsl(29, 71%, 51%) 17%,
    hsl(54, 74%, 47%) 33%,
    hsl(78, 76%, 44%) 50%,
    hsl(102, 78%, 41%) 67%,
    hsl(127, 81%, 37%) 83%,
    hsl(151, 83%, 34%) 100%);
    flex: 1;
    -webkit-box-flex: 1;
    margin: 0 5px;
    text-align: left;
    font-size: 1.0em;
    line-height: 1.0em;
}
